/*MEDIAS FOR IPHONE 12 PRO MAX */

/*Resolution 1284 x 2778 -> viewport 428 x 926*/

/*Header section media query*/

@media all and (min-width:428px) and (max-width: 926px){
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
    .drop-down-menu-button{
        display: block;
    }
    .header-wrapper ul{
        display: none;
    }
    .responsive-menu:hover ul{
        display: block;
        position: absolute;
        top: 50px;
        background-color: gray;
        
    }
}